<form name="postForm" layout="column" flex layout-align="start center" novalidate>	
	<div layout="row" layout-fill>		
		<div style="width: 60%;margin-right: 20px;">
			<h4>Post</h4>
			<md-input-container layout-fill>
				<label>Title</label>
				<input type="text" name="title" ng-model="post.title" md-maxlength="150" required>
<!--
				<div ng-messages="postForm.title.$error">
					<div ng-message="required">This is required.</div>
					<div ng-message="md-maxlength">The name has to be less than 150 characters long.</div>
				</div>
-->
			</md-input-container>
			<md-input-container layout-fill>
				<label>Body</label>
				<textarea columns="1" name="body" ng-model="post.body" md-maxlength="500" required></textarea>
<!--				<div ng-messages="postForm.body.$error">
					<div ng-message="required">This is required.</div>
					<div ng-message="md-maxlength">The name has to be less than 500 characters long.</div>
				</div>-->
			</md-input-container>
		</div>
		<div style="width: 40%;">
			<h4>Channels</h4>
			<md-chips
			ng-model="post.channels"
			readonly="post.readonly"
			placeholder="Enter a channel"
			delete-button-label="Remove Channel"
			delete-hint="Press delete to remove channel"
			secondary-placeholder="+Channel" required></md-chips>
		</div>
	</div>
	
	<div layout="row" layout-fill layout-align="space-around center">
		<div>
			<h4>Publish Date</h4>
			<md-datepicker ng-model="post.publishDate" placeholder="Enter date"></md-datepicker>
		</div>
		<div>
			<h4>Expiration Date</h4>
			<md-datepicker ng-model="post.expireDate" placeholder="Enter date" md-min-date="publishDate"></md-datepicker>
		</div>
		<div>
			<h4>Sticky</h4>
			<md-switch ng-model="post.sticky" aria-label="Sticky">
				{{ post.sticky }}
			</md-switch>
		</div>
	</div>
	<br><br>
	<div layout="row" layout-fill layout-align="end center">
		<md-button ng-click="update()" class="md-raised md-button md-primary" ng-disabled="postForm.$invalid || postForm.$pristine">Save</md-button>
		<md-button ng-click="reset()" class="md-button">Reset</md-button>
	</div>
	<br><br>			
</form>